html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
#main{
  width:70%;
  height:50%;
  margin:0 auto;
}
.main{
  width:70%;
  height:45%;
  margin:0 262px;
}
p{
  margin:10px 631px;
}
